<head>
    <title>About</title>
</head>

<body>
<h2>What is this app about? Tree hugging adventures.</h2>
<p>What are you doing?  Go hug some trees!</p>
<nav>
<ul data-role="listview">
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "trees"}}Tree Collection{{/link-to}}</li>
</ul>    
</nav>
</body>
{{outlet}}
