<title>GA Tech Arboretum</title>

<body ontouchstart=""><!-- ontouchstart="" enables low-delay CSS transitions. -->
<div data-role="page">
    <ul data-role="listview">
        <li>{{#link-to "trees"}}Tree Collection{{/link-to}}</li>
        <li>{{#link-to "badges"}}Badges{{/link-to}}</li>
    </ul>
</div><!-- /page -->


</body>
{{outlet}}
