<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Georgia Tech Arboretum</title>
</head>

<body ontouchstart=""><!-- ontouchstart="" enables low-delay CSS transitions. -->

    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right" id="menu">
            <li role="presentation" class="active">{{#link-to "home"}}Home{{/link-to}}</li>
            <li role="presentation">{{#link-to "tours"}}Tours{{/link-to}}</li>
            <li role="presentation">{{#link-to "trees"}}Trees{{/link-to}}</li>
            <li role="presentation">{{#link-to "badges"}}Badges{{/link-to}}</li>
            <li role="presentation">{{#link-to "about"}}About{{/link-to}}</li>
            <li role="presentation">{{#link-to "settings"}}Settings{{/link-to}}</li>
            <!-- <li class="icon">
              <a {{action "toggleMenu"}}>&#9776;</a>
            </li> -->
          </ul>
        </nav>
    </div>

    <div class="jumbotron">
        <h1>Georgia Tech Arboretum</h1>
    </div>
    
    <p>{{#link-to "tours"}}<a class="btn btn-lg btn-success btn-block" role="button">Tours</a>{{/link-to}}</p>
    <p>{{#link-to "trees"}}<a class="btn btn-lg btn-success btn-block" role="button">Trees</a>{{/link-to}}</p>
    <p>{{#link-to "badges"}}<a class="btn btn-lg btn-success btn-block" role="button">Badges</a>{{/link-to}}</p>
    <p>{{#link-to "about"}}<a class="btn btn-lg btn-success btn-block" role="button">About</a>{{/link-to}}</p>
    <p>{{#link-to "settings"}}<a class="btn btn-lg btn-success btn-block" role="button">Settings</a>{{/link-to}}</p>
    <p>{{#link-to "map"}}<a class="btn btn-lg btn-success btn-block" role="button">Map</a>{{/link-to}}</p>

</body>
{{outlet}}
