<head>
    <title>Options</title>
</head>

<body>
<h2>There are currently no options for additional configuration.</h2>
<nav>
<ul data-role="listview">
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "trees"}}Tree Collection{{/link-to}}</li>
</ul>    
</nav>
</body>
{{outlet}}
