<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{model.Name}}</title>
</head>

<body>
    <div class="jumbotron">
        <h1>{{model.Name}}</h1>
        <div class="row">
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    {{#link-to "badges"}}<button type="button" class="btn btn-success">Achievements</button>{{/link-to}}
                    {{#link-to "home"}}<button type="button" class="btn btn-success">Home</button>{{/link-to}}
                    {{#link-to "trees"}}<button type="button" class="btn btn-success">Trees</button>{{/link-to}}
                </div>
            </div>
        </div>
    </div>

    <div class="tourimage">
        <img src="\assets\images\other\tech-tower.jpg" width=100%>
    </div>

    <div class="TextBox">  
        <h2>About the Tour</h2>
        <!-- Text about the tour--><p>{{model.Description}}</p>
    </div>

</body>

{{outlet}}
