<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tours</title>
</head>

<body>

    <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation">{{#link-to "home"}}Home{{/link-to}}</li>
            <li role="presentation" class="active">{{#link-to "tours"}}Tours{{/link-to}}</li>
            <li role="presentation">{{#link-to "trees"}}Trees{{/link-to}}</li>
            <li role="presentation">{{#link-to "badges"}}Badges{{/link-to}}</li>
            <li role="presentation">{{#link-to "about"}}About{{/link-to}}</li>
            <li role="presentation">{{#link-to "settings"}}Settings{{/link-to}}</li>
          </ul>
        </nav>
    </div>
    
    <div class="jumbotron">
        <h1>Tours</h1>
    </div>
    
    {{#each model as |tour|}}
        {{#link-to "tourdetails" tour}}
            <p><a class="btn btn-lg btn-success btn-block" role="button">{{tour.Name}}</a></p>
        {{/link-to}}
    {{else}}
        No Tours Found
    {{/each}}


</body>



{{outlet}}