<img height="42" width="42" src={{model.Image}}>
<ul>
    <li>{{model.Common_Name}}</li>
    <li>{{model.Description}}</li>
</ul>

<nav>
<ul data-role="listview">
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "trees"}}Tree Collection{{/link-to}}</li>
    <li>{{#link-to "badges"}}Badges{{/link-to}}</li>
</ul>
</nav>

{{outlet}}