<ul>
    <li>{{model.species}}</li>
    <li>{{model.information}}</li>
</ul>

<nav>
<ul data-role="listview">
    <li>{{#link-to "home"}}Home{{/link-to}}</li>
    <li>{{#link-to "trees"}}Tree Collection{{/link-to}}</li>
    <li>{{#link-to "badges"}}Badges{{/link-to}}</li>
</ul>
</nav>

{{outlet}}